[Unit]
Description=polipo Proxy
Wants=network.target

[Service]
StandardOutput=syslog
StandardError=syslog
ExecStart=/usr/bin/polipo
ExecReload=/bin/kill -USR1 $MAINPID

[Install]
WantedBy=multi-user.target
