[Unit]
Description=Update dynamic client-side addresses
After=network.target

[Service]
User=nobody
StandardOutput=syslog
EnvironmentFile=/etc/conf.d/update-urls
; I suggest at least CURL_ARGS='--silent --show-error'
ExecStart=/usr/bin/curl $CURL_ARGS $UPDATE_URLS

[Install]
WantedBy=multi-user.target
